<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Moon+Dance&family=Roboto:wght@100&display=swap" rel="stylesheet">

    

<title>LiboniProject</title>
</head>
<body>
   <header>
       <div class="container-logo">
        <div class="logo-imagem"><img src="../public/src/M__1_-removebg-preview (6).png" title="logo" ></div>
        </div>
       <div class="boxMenu">
       <div class="menu">
            <div class="content">
                <button class="Home" id="buttonHome" type="button">Início</button>
                <div class="spt-1">|</div>
                <button class="Comp" id="buttonComp" type="button">Componentes</button>
                <div class="spt-2">|</div>
                <button class="Materiais" id="buttonMaterials" type="button">Material</button>                              
            </div>
        </div>
        <div class="componentesList">                
             <div id="lista" class="Hidden">
                    <button class="Item1" id="item1">Quarto & Sala</button>
                    <button class="Item2" id="item2">Cozinha & Banheiro</button> 
            </div>
        </div>
        </div>
        <div class="transition-Start-3 IconMenu" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18" hiegth="18"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        </div>
    </header>

    
    <div id="mwelcome"></div>

        <div class="welcome">
            <div class="slideshow-container">
                <div class="slide">
                  <img src="../public/src/120082961_1580870092074547_6093592237239133577_n.jpg" alt="Imagem 1">
                </div>
                <div class="slide">
                  <img id="img2" src="../public/src/70604536_1246163172211909_1735211858970804224_n.jpg" alt="Imagem 2">
                </div>
                <div class="slide">
                  <img  src="../public/src/89833876_1413550798806478_8971013459487490048_n.jpg" alt="Imagem 3">
                </div>
              </div>
            <h1 style="font-family: 'Game Of Squids',Times;">ModuCAD</h1>
            <h3>Projetado especialmente para criar sonhos!</h3>
            <h4>Uma ferramenta pensada para criação de projetos interiores, oferecendo 
                uma biblioteca com variedades de módulos prontos para se adaptarem ao seus ambientes.
                Valorizando o tempo com qualidade e eficiência. (Setor-Moveleiro)
            </h4>
           
              
        </div>
        <a id="logout" ><div>logout</div><svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 512 512" width="16" height="16"> 
            <!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/></svg>
        </a>
        


    

    
    <script type="module" src="../js/auth.js"></script>
    <script type="module" src="../js/index.js"></script>
    
    </body>
    </html>