<!DOCTYPE html>
<html lang="PT-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiboniProject</title>
    <link rel="stylesheet" href="../../public/css/reckonsStyle.css">
</head>

<body>
    <main>
        <div class="logo">

        </div>

        <div class="tarefas">
            <div id="opcoes">
                <div class="Button" id="orc">
                    <button type="button">Orçamento</button>
                </div>
                <div class="Button" id="planCut">
                    <button type="button">Plano de Corte</button>
                </div>
                <div class="Button" id="Materials">
                    <button type="button">Materiais</button>
                </div>
            </div>

        </div>
    </main>


    <script type="module" src="../../js/reckons.js"></script>
</body>

</html>