<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiboniProject</title>
    <link rel="stylesheet" href="../../public/css/reckonsStyle.css">
</head>
<body>
    <main>
        <div class="container">
            
            <div id="cutBoard">
                
            </div>
            <div id="infBoard">
            </div>

        </div>


    </main>
    <script type="module" src="../../js/reckons.js"></script>
</body>
</html>